*.json
Day1/Day1/bin/Debug/net9.0/Day1.exe
Day1/Day1/bin/Debug/net9.0/Day1.pdb
Day1/Day1/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Day1/Day1/obj/Debug/net9.0/apphost.exe
Day1/Day1/obj/Debug/net9.0/Day1.AssemblyInfo.cs
Day1/Day1/obj/Debug/net9.0/Day1.AssemblyInfoInputs.cache
Day1/Day1/obj/Debug/net9.0/Day1.assets.cache
Day1/Day1/obj/Debug/net9.0/Day1.csproj.CoreCompileInputs.cache
Day1/Day1/obj/Debug/net9.0/Day1.csproj.FileListAbsolute.txt
Day1/Day1/obj/Debug/net9.0/Day1.dll
Day1/Day1/obj/Debug/net9.0/Day1.GeneratedMSBuildEditorConfig.editorconfig
Day1/Day1/obj/Debug/net9.0/Day1.genruntimeconfig.cache
Day1/Day1/obj/Debug/net9.0/Day1.GlobalUsings.g.cs
Day1/Day1/obj/Debug/net9.0/Day1.pdb
Day1/Day1/obj/Debug/net9.0/ref/Day1.dll
Day1/Day1/obj/Debug/net9.0/refint/Day1.dll
Day1/Day1/bin/Debug/net9.0/Day1.dll
Day1/Day1/obj/rider.project.restore.info
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.genruntimeconfig.cache
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.GlobalUsings.g.cs
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.pdb
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/ref/Lab02.dll
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/refint/Lab02.dll
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.dll
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.csproj.FileListAbsolute.txt
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.csproj.CoreCompileInputs.cache
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.assets.cache
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.AssemblyInfoInputs.cache
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.AssemblyInfo.cs
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/apphost.exe
LAB/Lab02/Lab02/Lab02/bin/Debug/net9.0/Lab02.dll
LAB/Lab02/Lab02/Lab02/bin/Debug/net9.0/Lab02.exe
LAB/Lab02/Lab02/Lab02/bin/Debug/net9.0/Lab02.pdb
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.GeneratedMSBuildEditorConfig.editorconfig
Day1/Day1/bin/Debug/net9.0/Day1.dll
LAB/Lab03/Lab03/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
LAB/Lab03/Lab03/obj/Debug/net9.0/apphost.exe
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.AssemblyInfo.cs
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.AssemblyInfoInputs.cache
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.assets.cache
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.csproj.CoreCompileInputs.cache
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.csproj.FileListAbsolute.txt
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.dll
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.GeneratedMSBuildEditorConfig.editorconfig
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.genruntimeconfig.cache
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.GlobalUsings.g.cs
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.pdb
LAB/Lab03/Lab03/obj/Debug/net9.0/ref/Lab03.dll
LAB/Lab03/Lab03/obj/Debug/net9.0/refint/Lab03.dll
*.dll
LAB/Lab03/Lab03/bin/Debug/net9.0/Lab03.exe
LAB/Lab03/Lab03/bin/Debug/net9.0/Lab03.pdb
Day1/Day1/bin/Debug/net9.0/Day1.dll
Day1/Day1/obj/Debug/net9.0/Day1.csproj.BuildWithSkipAnalyzers
LAB/Lab03/Lab03/Bai02/bin/Debug/net9.0/Bai02.exe
LAB/Lab03/Lab03/Bai02/bin/Debug/net9.0/Bai02.pdb
LAB/Lab03/Lab03/Bai02/obj/Debug/net9.0/apphost.exe
LAB/Lab03/Lab03/Bai02/obj/Debug/net9.0/Bai02.AssemblyInfo.cs
LAB/Lab03/Lab03/Bai02/obj/Debug/net9.0/Bai02.AssemblyInfoInputs.cache
LAB/Lab03/Lab03/Bai02/obj/Debug/net9.0/Bai02.assets.cache
LAB/Lab03/Lab03/Bai02/obj/Debug/net9.0/Bai02.csproj.BuildWithSkipAnalyzers
LAB/Lab03/Lab03/Bai02/obj/Debug/net9.0/Bai02.csproj.CoreCompileInputs.cache
LAB/Lab03/Lab03/Bai02/obj/Debug/net9.0/Bai02.csproj.FileListAbsolute.txt
LAB/Lab04/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
LAB/Lab04/obj/Debug/net9.0/apphost.exe
LAB/Lab04/obj/Debug/net9.0/Lab04.AssemblyInfo.cs
LAB/Lab04/obj/Debug/net9.0/Lab04.AssemblyInfoInputs.cache
LAB/Lab04/obj/Debug/net9.0/Lab04.assets.cache
LAB/Lab04/obj/Debug/net9.0/Lab04.csproj.AssemblyReference.cache
LAB/Lab04/obj/Debug/net9.0/Lab04.csproj.BuildWithSkipAnalyzers
LAB/Lab04/obj/Debug/net9.0/Lab04.csproj.CoreCompileInputs.cache
LAB/Lab04/obj/Debug/net9.0/Lab04.csproj.FileListAbsolute.txt
LAB/Lab04/obj/Debug/net9.0/Lab04.csproj.Up2Date
LAB/Lab04/obj/Debug/net9.0/Lab04.GeneratedMSBuildEditorConfig.editorconfig
LAB/Lab04/obj/Debug/net9.0/Lab04.genruntimeconfig.cache
LAB/Lab04/obj/Debug/net9.0/Lab04.GlobalUsings.g.cs
LAB/Lab04/obj/Debug/net9.0/Lab04.pdb
LAB/Lab04/bin/Debug/net9.0/Lab04.exe
LAB/Lab04/bin/Debug/net9.0/Lab04.pdb
LAB/Lab03/Lab03/obj/Debug/net9.0/Lab03.csproj.BuildWithSkipAnalyzers
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentFirebaseManagement.pdb
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentFirebaseManagement.GlobalUsings.g.cs
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentFirebaseManagement.genruntimeconfig.cache
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentFirebaseManagement.GeneratedMSBuildEditorConfig.editorconfig
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentFirebaseManagement.csproj.FileListAbsolute.txt
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentFirebaseManagement.csproj.CoreCompileInputs.cache
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentFirebaseManagement.csproj.AssemblyReference.cache
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentFirebaseManagement.assets.cache
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentFirebaseManagement.AssemblyInfoInputs.cache
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentFirebaseManagement.AssemblyInfo.cs
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/StudentF.A93D4811.Up2Date
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/apphost.exe
StudentFirebaseManagement/StudentFirebaseManagement/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
StudentFirebaseManagement/StudentFirebaseManagement/bin/Debug/net9.0/StudentFirebaseManagement.pdb
StudentFirebaseManagement/StudentFirebaseManagement/bin/Debug/net9.0/StudentFirebaseManagement.exe
LAB/Lab06/Lab06/bin/Debug/net9.0/Lab06.exe
LAB/Lab06/Lab06/bin/Debug/net9.0/Lab06.pdb
LAB/Lab06/Lab06/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
LAB/Lab06/Lab06/obj/Debug/net9.0/apphost.exe
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.AssemblyInfo.cs
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.AssemblyInfoInputs.cache
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.assets.cache
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.csproj.AssemblyReference.cache
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.csproj.CoreCompileInputs.cache
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.csproj.FileListAbsolute.txt
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.csproj.Up2Date
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.GeneratedMSBuildEditorConfig.editorconfig
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.genruntimeconfig.cache
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.GlobalUsings.g.cs
LAB/Lab06/Lab06/obj/Debug/net9.0/Lab06.pdb
