*.json
Day1/Day1/bin/Debug/net9.0/Day1.exe
Day1/Day1/bin/Debug/net9.0/Day1.pdb
Day1/Day1/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Day1/Day1/obj/Debug/net9.0/apphost.exe
Day1/Day1/obj/Debug/net9.0/Day1.AssemblyInfo.cs
Day1/Day1/obj/Debug/net9.0/Day1.AssemblyInfoInputs.cache
Day1/Day1/obj/Debug/net9.0/Day1.assets.cache
Day1/Day1/obj/Debug/net9.0/Day1.csproj.CoreCompileInputs.cache
Day1/Day1/obj/Debug/net9.0/Day1.csproj.FileListAbsolute.txt
Day1/Day1/obj/Debug/net9.0/Day1.dll
Day1/Day1/obj/Debug/net9.0/Day1.GeneratedMSBuildEditorConfig.editorconfig
Day1/Day1/obj/Debug/net9.0/Day1.genruntimeconfig.cache
Day1/Day1/obj/Debug/net9.0/Day1.GlobalUsings.g.cs
Day1/Day1/obj/Debug/net9.0/Day1.pdb
Day1/Day1/obj/Debug/net9.0/ref/Day1.dll
Day1/Day1/obj/Debug/net9.0/refint/Day1.dll
Day1/Day1/bin/Debug/net9.0/Day1.dll
Day1/Day1/obj/rider.project.restore.info
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.genruntimeconfig.cache
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.GlobalUsings.g.cs
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.pdb
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/ref/Lab02.dll
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/refint/Lab02.dll
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.dll
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.csproj.FileListAbsolute.txt
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.csproj.CoreCompileInputs.cache
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.assets.cache
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.AssemblyInfoInputs.cache
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.AssemblyInfo.cs
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/apphost.exe
LAB/Lab02/Lab02/Lab02/bin/Debug/net9.0/Lab02.dll
LAB/Lab02/Lab02/Lab02/bin/Debug/net9.0/Lab02.exe
LAB/Lab02/Lab02/Lab02/bin/Debug/net9.0/Lab02.pdb
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
LAB/Lab02/Lab02/Lab02/obj/Debug/net9.0/Lab02.GeneratedMSBuildEditorConfig.editorconfig
Day1/Day1/bin/Debug/net9.0/Day1.dll
